$body-height: 100vh;
$background: gray;
$cell-background: white;
$good-colors:  green, blue, purple;
$bad-colors: red, orange, yellow;

body {
    background: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    $cell-size: 20px;
    $grid-width: 20;
    $grid-height: 20;

    .cell {
      width: $cell-size;
      height: $cell-size;
      float: left;
      outline: 1px solid black;
      background-color: $cell-background;
    }
    
    @for $i from 1 through $grid-height { //SASS FUNCTION 2 [for loops]: iterates through w/ SASS for loop to adjust the size of grid
        .row:nth-of-type(#{$i}) {
          display: flex;
          justify-content: center;
        }
        
        @for $j from 1 through $grid-width {
          .row:nth-of-type(#{$i}) .cell:nth-of-type(#{$j}) {
            background-color: white;
          }
        }
      }

    .row {
      display: flex;
      justify-content: center;
    }
    
    #random {
      padding: .75em;
      border-radius: 5px;
      border: none;
      background: linear-gradient(
        to bottom right,
        #C5DEC6, #587559
      );
    }
      
    .button {
          display: flex;
          height: 28px;
          width: 100px;
          background-image: linear-gradient(to right, $good-colors );
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
          }
          
          &:hover {
              display: flex;
              height: 28px;
              width: 100px;
              background-image: linear-gradient(to right, $bad-colors );
              color: white;
              border: none;
              border-radius: 4px;
              cursor: pointer;
          }
    }

    $selected-color: black; // default color

    .color-box {
        background-color: $selected-color;
        padding: 4px;
      
      }

    input[type=color] { //SASS FUNCTION 3 [operator]: used to define color picked through color-picker
        border: none;
        outline: none;
    }
    
    &:before { //SASS FUNCTION 1 [variables]: using variables to change background of color-picker div
        background-color: $selected-color;
    }
}
